*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: 
    linear-gradient(-225deg, #2CD8D5 0%,
     #C5C1FF 56%, #FFBAC3 100%);
    color: #f76b8a;
}

.card{
    background-color: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 40px 35px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.355);
    
    & .search{

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & input{
            height: 40px;
            width: 80%;
            padding: 5px 10px;
            font-size: 1.1rem;
            color: #ffabb6;
            background: #eaf6f6; 
            outline: none;
            border: 2px solid #2CD8D5;
            border-radius: 20px;

            &::placeholder{
                color: #C5C1FF;
            }
        }
        & button{
            display: flex;
            border: 0;
            cursor: pointer;
        }
        & img{
            width: 40px;
        }
    }

    & .weather{
        padding: 30px 0px;
        & #temp-main{
            display: flex;
            text-align: center;
            padding: 10px 0px;
            justify-content: space-evenly;

            & #temp{
                display: flex;
                align-items: center;
            }
        }
        & img{
            width: 180px;
        }
    }

    & .details{
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;


        & .detail{
            display: flex;
            align-items: center;

            & .det-text{
                padding-left: 5px;
                & p:first-child{
                    font-size: 1.5rem;
                }
                & p:last-child{
                    font-size: 0.8rem;
                    letter-spacing: 1px;
                }
            }
        }
        & img{
            width: 40px;
        }
    }
}